<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<body>

<p> Hola paciente: <span th:text="${name}"></span> <span th:text="${lastName}"></span></p>

<p> Hola odontólogo: <span th:text="${dentistName}"></span> <span th:text="${dentistLastName}"></span></p>

<p> Matrícula: <span th:text="${registrationNumber}"></span></p>

</body>
</html>